In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import datapackage
data_url = 'https://datahub.io/JohnSnowLabs/education-actual-operating-cost-per-student/datapackage.json'
package = datapackage.Package(data_url)
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
clean_data = data.dropna()
clean_data.shape

(2190, 10)

In [2]:
school_perf_report = pd.read_csv("oregon_schoool_performance_report_filtered.csv", encoding='iso-8859-1')

In [3]:
school_dist = school_perf_report.groupby(["DISTINSTID","year"])["STUDENRCNT",'FREEREDSTUDCNT','MnrtyStudCnt'].sum()
school_dist.head()

                 STUDENRCNT  FREEREDSTUDCNT  MnrtyStudCnt
DISTINSTID year
1894       1999      2317.0           865.0         123.0
           2000      2343.0           831.0         186.0
           2001      2199.0           839.0         146.0
           2002      2151.0           875.0         165.0
           2003      2115.0           963.0         176.0

Cross-checking that we get the same school districts for students \>30k and \<100 in dataset from oregon.gov report versus the one from datahub.io. These ids match the ones in [oregon_schools_eda1](oregon_schools_eda1.ipynb), so we can be reasonably confident that our data is good.

In [4]:
school_dist[school_dist["STUDENRCNT"]>30000].index.get_level_values(0).unique()

Int64Index([2142, 2180, 2243], dtype='int64', name='DISTINSTID')

In [5]:
school_dist[school_dist["STUDENRCNT"]<100].index.get_level_values(0).unique()

Int64Index([1895, 1896, 1979, 2010, 2011, 2012, 2015, 2016, 2017, 2018, 2019,
            2020, 2021, 2022, 2023, 2047, 2051, 2052, 2060, 2062, 2063, 2107,
            2109, 2111, 2114, 2115, 2210, 2222, 2247, 2248, 2249],
           dtype='int64', name='DISTINSTID')